
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.Download{

background-color: rgb(155, 2, 2);
color: rgb(0, 0, 0);
border: none;
border-radius: 30px;
border-color: rgb(155, 2, 2);
border-style: solid;
cursor: pointer;
transition: background-color 0.6s, box-shadow 0.6s, border-color 0.6s;
text-align: center;
padding: 15px;
padding-left: 20px;
padding-right: 20px;
margin-left: 45%;
margin-right: 45%;
width: 10%;
margin-top: 2%;
font-family: 'VT323', monospace;
font-size: larger;



}

.profilepicture{

margin-left: 35%;
margin-right: 35%;
margin-top: 4%;
width:30%;
border-radius: 10px;


}

.Download:hover{


    background-color: rgb(104, 1, 1);
    border-color: rgb(104, 1, 1);
    
    
    

}

.game1{


margin-top: 50px;
margin-bottom: 100px;
margin-left: 100px;

}

.Download:active{


    background-color: rgb(49, 49, 49);

}

.name{

text-align: center;
color: rgb(190, 0, 0);
font-family: 'VT323', monospace;
font-size: xx-large;

}

.Description{

    color: rgb(161, 1, 1);
    font-family: 'VT323', monospace;
    font-size: larger;
    width: 60%;
    text-align: center;
    margin: auto;

}

body{


background-color: rgb(0, 0, 0);
font-family: "Inter";


}

